body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f2f8f8;
  overflow: hidden;
}

.overlay {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.event-form {
  width: 100%;
  height: calc(100% - 20px);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.4s ease-out;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.form-header {
  background-color: #a2d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #fff;
  position: relative;
}

.form-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
}

.cancel-button,
.save-button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  color: #fff;
}

.form-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-section {
  background-color: #fff;
  margin-bottom: 12px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  box-sizing: border-box;
  min-height: 40px;
  border-top: 1px solid #ededed;
}

/* 最初の行だけ線を消す */
.form-row:first-child {
  border-top: none;
}

.form-label {
  font-size: 14px;
  color: #3e3e3e;
}

.datetime-display{
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-arrow {
  font-size: 18px;
  color: #888;
  margin-left: auto;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.box {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: #ededed;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 999px;
}

.toggle-slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-container input:checked + .toggle-slider {
  background-color: #a2d0d0;
}

.toggle-container input:checked + .toggle-slider::before {
  transform: translateX(20px);
}

#add-item-button {
  padding: 10px;
  font-size: 16px;
  background-color: #819f9f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  color: #fff;
}

#add-item-button:hover{
  filter: brightness(85%);
}
