body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
}

header {
    height: 50px;
  background-color: #a2d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: relative;
}

.title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #fff;
}

.cancel-button,
.save-button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  color: #fff;
}

.app-content {
    padding: 20px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.main-card {
    background-color: #f0f0f0;
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.small-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 16px;
    margin-top: 10px;
    justify-content: center;
}

.small-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    aspect-ratio: 1 / 1;
}

.card-icon{
    color: #a2d0d0;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* 通常のグレースタイル */
.no-use-button {
    width: 80%;
    max-width: 600px;
    padding: 14px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* 選択されたら「使用する」に変化 */
.no-use-button.active {
    background-color: #80c080; /* 緑っぽい色 */
    color: white;
}


.no-use-button:hover {
    background-color: #bbb;
}

.small-card.selected {
    background-color: #a2d0d0;
    border-color: #7fb0b0;
}

